body {
    background-color: #efefef;
    text-align: center;
    /* margin: 0px; */
}

/* div {
    padding: 10px;
    border: 2px solid green;
    background-color: aqua;
    color: blue;
} */

.outside-box {
    border: 2px solid green;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    background-color: salmon;
}

.inside-box {
    width: 80%;
    border: 2px solid green;
    /* text-align: center; */
    /* justify-content: center; */
    margin: 30px auto;
    padding: 10px;
    background-color: cornflowerblue;
}